<!DOCTYPE html>
<html>
    <head>
        <title>Ask a question</title>
    </head>
<body>
    <h1>Ask a question </h1>
      <form action="/add-question" method="post">
          <br>
          <label for="title">Title</label>
          <input id="title" name="title" type="text">
          <br>
          <label for="message">Message</label>
          <br>
          <textarea  id="message" name="message" rows="20">Please write the message here </textarea>
          <br>
          <label>Image</label>
          <br>
          <button type="submit">Add new question</button>
      </form>
</body>
</html>