<DOCTYPE html>
<html>
<head> <title>Ask a question</title></head>
<body>
    <form>
      <h1>Ask a question </h1>
        <form>
           <label>Title</label>
            <br>
              <input type="text">
            <br>
            <label>Message</label>
            <br>
            <textarea name="messsage" rows="20">Please write the message here </textarea>
            <br>
            <br>
            <label>Image</label>
            <br>
        </form>
        <form action ="http://0.0.0.0:8000/">
        <input type="submit" value="Add new question">
        </form>
    </form>
</body>
</html>