{% extends "layout.html" %}
{% block content %}
    <table id="main">
        <tr>
            {% for header in headers %}
                <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for id, question in questions.items() %}
            <tr>
                {% for label, value in question.items() %}
                    {% if label == "title" %}
                        <td>
                            <a href="/question/{{ id }}">
                                {{ value }}
                            </a>
                        </td>
                     {% elif label == 'image' %}
                    <td> <img src="{{ value }}" alt="image"/> </td>
                    {% else %}
                        <td> {{ value }} </td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
{% endblock content %}