{% extends "layout.html" %}
{% block content %}
    <table id="main">
        <tr>
            {% for header in headers %}
                <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for id, question in questions.items() %}
            <tr>
                {% for label, cell in question.items() %}
                    {% if label == "title" %}
                        <td>
                            <a href="/question/{{ id }}">
                                {{ cell }}
                            </a>
                        </td>
                    {% elif label == 'image' %}
                        {% if cell %}
                            <td><img src="{{ cell }}" alt="image"/></td>
                        {% else %}
                            <td><img src="{{ url_for('static', filename='logo.png') }}" alt="image"/></td>
                        {% endif %}
                    {% else %}
                        <td> {{ cell }} </td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
{% endblock content %}