<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
<a href="/add-question">Ask a new question</a>
<table>
    <tr>
        {% for header in headers %}
        <th> {{ header }}</th>
        {% endfor %}
    </tr>
    {% for id, question in questions.items() %}

    <tr>
        {% for label, value in question.items() %}
            {% if label == "title" %}
        <td>
        <a href="/question/{{ id }}">
                    {{ value }}  ez egy tájtöl
                </a>
        </td>
            {% else %}
                <td> {{ value }} </td>
            {% endif %}
        {% endfor %}
    </tr>

    {% endfor %}
</table>
</body>
</html>