{% extends "layout.html" %}
{% block content %}
    <div class="icons">
        <form action="/list" method="get">
            <select name="order_by">
                {% if not order_by %}
                    <option value="" selected disabled hidden>Order By</option> {% endif %}
                <option value="title" {% if order_by == 'title' %} selected="selected"{% endif %}>Title</option>
                <option value="submission_time" {% if order_by == 'submission_time' %} selected="selected"{% endif %}>
                    Date
                </option>
                <option value="view_number" {% if order_by == 'view_number' %} selected="selected"{% endif %}>View
                    Number
                </option>
                <option value="vote_number" {% if order_by == 'vote_number' %} selected="selected"{% endif %}>Vote
                    number
                </option>
            </select>
            <select name="order_direction">
                {% if not order_direction %}
                    <option value="" selected disabled hidden>Order Direction</option> {% endif %}
                <option value="asc" {% if order_direction == 'asc' %} selected="selected"{% endif %}>Ascending</option>
                <option value="desc" {% if order_direction == 'desc' %} selected="selected"{% endif %}>Descending
                </option>
            </select>
            <button id="sort" type="submit">Sort</button>

        </form>
    </div>
    <table id="main">
        <tr>
            <th>Date</th>
            <th>View</th>
            <th>Vote</th>
            <th>Question</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        {% for id, question in questions.items() %}

            <tr>
                {% for label, cell in question.items() %}
                    {% if label == "title" %}
                        <td>
                            <a class="left_align" href="/question/{{ id }}">
                                {{ cell }}
                            </a>
                        </td>
                    {% elif label == 'image' %}
                        {% if cell %}
                            <td><img src="{{ cell }}"/></td>
                        {% else %}
                            <td><img src="{{ url_for('static', filename='logo.png') }}" alt="image"/></td>
                        {% endif %}
                    {% else %}
                        <td class="left_align"> {{ cell }} </td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
{% endblock content %}
{% block search_term %}{{ term }}{% endblock %}