{% extends "layout.html" %}
{% block content %}
<body>
<table id="main">
    <tr>
        <th>Date</th>
        <th>View</th>
        <th>Vote</th>
        <th>Question</th>
        <th>Description</th>
        <th>Image</th>
    </tr>
    {% for id, question in questions.items() %}

        <tr>
            {% for label, value in question.items() %}
                {% if label == "title" %}
                    <td>
                        <a href="/question/{{ id }}">
                            {{ value }}
                        </a>
                    </td>
                {% else %}
                    <td> {{ value }} </td>
                {% endif %}
            {% endfor %}
        </tr>

    {% endfor %}
</table>
{% endblock content %}