{% extends 'layout.html' %}
{% block content %}
    <div align="center" class="card">
        <div {{ 'hidden' if not invalid }} align="center" class="invalid">
            <p>Wrong Username/Password</p>
        </div>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input id="username" name="username" type="text">

            <label for="password">Password</label>
            <input id="password" name="password" type="password">

            <button type="submit">Login</button>
        </form>
    </div>
{% endblock %}