{% extends "layout.html" %}
{% block content %}
     <form action="/question/{{ question_id }}/edit">
        <button type="submit">Edit</button>
    </form>
    <form action="/question/{{ question_id }}/delete">
        <button type="submit">Delete</button>
    </form>
    <table>
        <tr>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
            <th>image</th>
        </tr>
        <tr>
        {% for title, cell in questions[question_id].items() %}
            {% if title == 'image' %}
            <td> <img src="{{ cell }}"> </td>
            {% else %}
            <td> {{ cell }} </td>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <th>Submission time</th>
            <th>Vote number</th>
            <th>Question id</th>
            <th>Message</th>
            <th>image</th>
        </tr>
        {% for id, answer in answers.items() %}
        <tr>
            {% for title, cell in answer.items() %}
                    <td> {{ cell }} </td>
            {% endfor %}
            <td>
                <a href="/answer/{{ id }}/edit">Edit answer</a>
            </td>
            <td>
                <a href="/answer/{{ id }}/delete">Delete answer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <form action="/question/{{ question_id }}/new-answer" method="get">
        <button type="submit">Add new answer</button>
    </form>
    <form action='/question/{{ question_id }}/vote-up'>
        <input type="submit" name="vote_it_up" value="Vote up!">
    </form>
    <form action='/question/{{ question_id }}/vote-down'>
        <input type="submit" name="vote_it_down" value="Vote down!">
    </form>
{% endblock content %}