{% extends 'layout.html' %}
{% block content %}
    <div align="center" class="card">
    <div {{ 'hidden' if not username_already_exists  }} class="username_already_exists">
    <p>Username already exists :(</p>
    </div>
    <form action="/register" method="post">
        <label for="username">Username</label>
        <input id="username" name="username" type="text">

        <label for="password">Password</label>
        <input id="password" name="password" type="password">

        <button type="submit">Register</button>
    </form>
    </div>
{% endblock %}